h1 {
  font-family: Georgia, serif;
  color: #333333
}
h3 {
  font-family: Georgia ,serif;
  color: #333333
}

ol {
  font-family: Georgia, serif;
  color: #333333
}

body {
  color: #333333;
  background: #FEFEF2;
  width: 700px;
  margin: 50px auto;
  /*font-family: 'Museo Slab', serif;
  padding: 30px
  border-radius: 20px;
  color: dimgray;*/
}
 h4 {
   font-family: Georgia, serif;
   color: #333333;
  
 }
