h1 {
  font-family: Georgia, serif;
  color: #333333;
}
h3 {
  font-family: Georgia ,serif;
  color: #333333;
  margin-top: 3em;
}
/*look how cool! list-style can change your bullets or take them away entirely*/
ol {
  font-family: Georgia, serif;
  color: #333333;
  list-style: none;
}

ul {
  font-family: Georgia, serif;
  color: #333333;
  list-style: none;
}

li{
  margin-bottom: 1em;
}

body {
  color: #333333;
  background: #FEFEF2;
  width: 700px;
  margin: 50px auto;
  /*padding= things within the box (headers and other items have a box radius to interact with each other. margins are how the box interacts with other boxes so outside of the box spacing. and you can have borders)*/
}
 h4 {
   font-family: Georgia, serif;
   color: #333333;

 }
